/* esse é o nome do estilo utilizado na principal div do site*/
.container-fluid {
    padding: 0px;
}
/*esse é o nome do estilo utilizado na tag nav
.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}*/
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
html{
	background-color: f0f0f0;
}
body{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
header{
	z-index: 1;
	position: fixed;
	background-color: white;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

/* esse é o estilo aplicado na tabela do index.html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
table.blueTable {
    /*font-family: Verdana, Geneva, sans-serif;*/
    border: 1px solid #0B2C41;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 7%;
    margin-bottom: 15%;
 }
 table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 6px 3px;
 }
 table.blueTable tbody td {
    font-size: 12px;
 }
 table.blueTable tr:nth-child(even) {
    background: #B3C4D3;
 }
 table.blueTable thead {
    background: #103352;
    background: -moz-linear-gradient(top, #4c667d 0%, #284763 66%, #103352 100%);
    background: -webkit-linear-gradient(top, #4c667d 0%, #284763 66%, #103352 100%);
    background: linear-gradient(to bottom, #4c667d 0%, #284763 66%, #103352 100%);
 }
 table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #AABBC9;
 }
 table.blueTable thead th:first-child {
    border-left: none;
 }

 table.blueTable tfoot td {
    font-size: 11px;
 }
 a{
    font-size: 20px;
    color: #103352;
 }

